Options -Indexes
ServerSignature Off

ErrorDocument 403 /index.php
ErrorDocument 404 /index.php

AddDefaultCharset utf-8

<IfModule mod_rewrite.c>
	RewriteEngine on
	RewriteBase /

	RewriteCond %{REQUEST_METHOD} ^(HEAD|OPTIONS|PUT|DELETE) [NC]
	RewriteRule .* - [F]

	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteCond %{REQUEST_FILENAME} !-d
	RewriteRule . / [L]

	RewriteRule ^\@ - [F,NC]
</IfModule>
